*{
    padding: 0;
    margin: 0;
}

/* main section */
.main{
    width: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: orangered;
}

#mynavigation{
    width: 100%;
    border:none;
    background-color: rgb(225, 73, 17);
}

.navinner{
    width: 76%;
    margin: 0 auto;
}

#mynavigation a{
    color:#fff;
}

.banner{
    width: auto;
    text-align: center;
    color: #fff;
}

.banner h1{
    font-size: 10rem;
}

/* second section */
.second{
    padding-top: 40px;
    padding-bottom: 30px;
}

.secondleft p{
    font-size: 18px;
    color: gray;
}

.secondleft button{
    padding: 10px 20px 10px 20px;
    border-style: none;
    border-radius: 3px;
    border: 0.1px solid black;
    background: none;
}

.secondright{
    font-size: 200px;
    color: orangered;
}


/* third section */

.third{
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: #f5f5f5;
}

.thirdleft{
    font-size: 200px;
    color: orangered;
}

.thirdright p{
    font-size: 18px;
    color: gray;
}

/* fourth section */

.fourth{
    padding-top: 40px;
    padding-bottom: 40px;
}

.fourthtop{
    padding-bottom: 40px;
    text-align: center;
}

.boxr2{
    padding-top: 40px;
}

.box{
    text-align: center;
}

.box p{
    font-size: 15px;
    color: gray;
}

.box span{
    font-size: 50px;
    color: orangered;
    text-align: center;
}


/* fifth section */
.fifth{
    background-color: #f5f5f5;
}

.fifthinner{
    padding-top: 40px;
    padding-bottom: 60px;
}

.fifthtop{
    text-align: center;
    padding-bottom: 30px;
}

.card{
    background-color: #fff;
    text-align: center;
}

.content h4{
    padding-bottom: 20px;
}

.carcont{
    padding-top: 60px;
}

.carousel-control.left,.carousel-control.right{
    background: none !important;
    color: rgb(232, 78, 22);
}

.item{
    margin: 72px;
}

.carousel-indicators li.active{
    background-color: rgb(232, 78, 22);
    border: 2px solid rgb(232, 78, 22);
}

.carousel-indicators li{
    border: 2px solid rgb(232, 78, 22) !important;
}

/* sixth section */
.sixth{
    padding-top: 60px;
    padding-bottom: 60px;
}

.sixthtop{
    text-align: center;
}

.sixthbottom{
    padding-top: 40px;
}

.sixthbottom .panel{
    border:0.1px solid red;
}


.panel .panel-heading{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(232, 78, 22);
    color: #fff;
}

.panel .panel-body{
    color: gray;
    padding-top: 40px;
    padding-bottom: 40px;
}

.panel .panel-footer{
    background-color: #fff;
    padding-bottom: 30px;
}

.panel .panel-footer button{
    background-color: rgb(232, 78, 22);
    color: #fff;
    border-style: none;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
}

/* seven section */
.seven{
    background-color: #f5f5f5;
}

.seveninner{
    padding-top: 50px;
    padding-bottom: 50px;
}

.sevenbox1 h4{
    padding-bottom: 10px;
}

.left{
    margin-top: 80px;
}

.right h1{
    padding-left: 30px;
}

.last-btn{
    background: none;
    padding: 5px 10px 5px 10px;
    border-style: none;
    color: gray;
    margin-top:20px;
    margin-right: 20px;
    border-radius: 2px;
    border: 0.1px solid gray;
}

/* eight section */
.eight{
    width: 100%;
    height: 100vh;
    background-image: url(../images/map.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



/* media querry */

@media only screen and (max-width:432px){

    .left h4{
        font-size: 15px;
    }

    .banner h1{
        font-size: 50px;
    }
}



@media only screen and (max-width:764px){


    .left{
        margin-left: 42px;
    }
}



@media only screen and (max-width:768px){

    .secondright{
        text-align: center;
    }

    .thirdleft{
        text-align: center;
    }

    .left{
        margin-left: 50px;
    }
}



@media only screen and (max-width:989px){

    .left{
        margin-left: 50px;
    }

    .secondright{
        text-align: center;
    }

    .thirdleft{
        text-align: center;
    }
}